/*-------------------------------MAIN---------------------------------*/

html,
body {
    scroll-behavior: smooth !important;
    background-color: black;
}

@font-face {
    font-family: hgfont;
    src: url("HeyGorgeous.ttf");
}

/*-------------------------------HEADER---------------------------------*/

header {
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin-left: 20%;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
}

#gameLogo {
    margin-left: 100px;
    margin-top: 15px;
    background-color: rgb(228, 228, 228);
    height: 100px;
    width: 100px;
}

#gameTitle {
    font-family: hgfont;
    /* margin-left: 100px; */
    margin-top: 35px;
    /* background-color: rgb(228, 228, 228); */
    /* height: 100px;
    width: 100px; */
}

nav {
    background-color: rgba(228, 228, 228, 0.9);
    height: 25px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    transition: font-size 0.3s;
}

nav ul a:hover {
    text-decoration: none;
    color: rgb(0, 10, 191);
    text-decoration: underline;
    font-size: 18px;
}


/*-------------------------------MAIN---------------------------------*/

main {
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin-left: 20%;
}

#space {
    height: 1px;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
    align-items: center;
}

#section1 {
    margin-top: 0px !important;
}

.section p {
    max-width: 40%;
}

.gamePicture {
    background-color: rgb(228, 228, 228);
    min-width: 30%;
    height: 200px;
    transition: height 0.3s;
}

.gamePicture:hover{
    height: 250px;
}

.title {
    margin-top: 25px;
    margin-left: 25px;
}

.stores .p {
    margin-left: 25px;
    margin-right: 25px;
}

.profile {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    margin: 25px;
    padding: 25px;
    align-items: center;
    background-color: rgba(186, 186, 186, 0.5);
    border-radius: 25px;
    border: 1px solid rgb(129, 129, 129);
    transition: margin 0.3s, height 0.3s;
    h3{
        transition: font-size 0.3s;
    }
    p{
        transition: font-size 0.3s;
    }
}

.profile:hover {
    background-color: rgba(186, 186, 186, 0.6);
    margin: 5px;

    .pfp {
        height: 150px;
        width: 150px;
    }

    h3{
        font-size: 22px;
    }

    p{
        font-size: 18px;
    }

}

.section .description {
    display: flex;
    /* flex-direction: column; */
}

.pfp {
    background-color: rgb(228, 228, 228);
    height: 100px;
    width: 100px;
    margin-right: 50px;
    transition: height 0.3s, width 0.3s;
}